[user]
	email = zine.xlws@gmail.com
	name = zine yu
	signingkey = EE86111F659E24AB
[core]
	editor = nvim

[commit]
	gpgsign = true
[tag]
	gpgSign = true
[init]
	defaultBranch = main
[push]
	autoSetupRemote = true
[alias]
	st = status
	co = checkout
	ci = commit -s -S
	br = branch
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	lgn = lg -n
